.container {
    @apply mx-auto w-80 rounded-xl bg-white px-5 py-10 shadow-xl z-30
}

.inputForm {
    @apply w-full rounded border border-solid border-gray-200 py-2 px-3 font-medium 
}
.inputFormError {
    @apply border-red
}

.radioButton {
    @apply flex items-center w-full relative pl-4 py-3 px-3 border-2 border-solid border-gray-200 rounded-md cursor-pointer
}

.flexColGap {
    @apply flex gap-3 flex-col
}

.planButton {
    @apply focus:bg-magnolia focus:border-blue-100 border border-solid border-gray-200 w-full rounded-md flex items-center p-3 text-left
}


/* Toggle switcher */

.switch {
    --button-width: 2.5em;
    --button-height: 1.1em;
    --toggle-diameter: .7em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 2em;
    --color-grey: hsl(213, 96%, 18%);
    margin-bottom: -7px;
}

.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}
.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}


.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* /Toggle switcher */



/* Radio button */


.cbx {
    @apply rounded cursor-pointer transition-all duration-[0.3s] ease-[ease] hover:border-[#0b76ef];
    -webkit-perspective: 20;
    perspective: 20;
    transform:scale(1.5);
}