.container {
    @apply mx-auto w-87 rounded-xl bg-white px-5 py-10 shadow-xl z-30
}

.inputForm {
    @apply w-full rounded border border-solid border-gray-200 py-2 px-3 font-medium
}

.radioButton {
    @apply flex items-center w-full relative pl-4 py-3 px-3 border-2 border-solid border-gray-200 rounded-md
}

.flexColGap {
    @apply flex gap-3 flex-col
}

/* Toggle switcher */

.switch {
    --button-width: 2.5em;
    --button-height: 1.1em;
    --toggle-diameter: .7em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 2em;
    --color-grey: hsl(213, 96%, 18%);
    margin-bottom: -7px;
}

.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}
.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}


.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* /Toggle switcher */



/* Radio button */


.cbx {
    @apply rounded cursor-pointer transition-all duration-[0.3s] ease-[ease] hover:border-[#0b76ef];
    -webkit-perspective: 20;
    perspective: 20;
    transform:scale(1.5);
}
  
/*    
   .flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 0px;
    height: 0px;
   }
   
   #cbx {
    display: none;
   }
   
   #cbx:checked + .cbx {
    border-color: #0b76ef;
   }
   
   #cbx:checked + .flip {
    transform: rotateY(180deg);
   }
   
   .front,
   .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
   }
   
   .front {
    background: #fff;
    z-index: 1;
   }
   
   .back {
    transform: rotateY(180deg);
    background: #0b76ef;
    text-align: center;
    color: #fff;
    line-height: 20px;
    box-shadow: 0 0 0 1px #0b76ef;
   }
   
   .back svg {
    margin-top: 3px;
    fill: none;
   }
   
   .back svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
   }
    */
   
   